/*Custom propierties y son colores quye definimos*/
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #13E294;
    --secundario: #C1FF00;
    --gris: #757575;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    
}
.titulo {
    text-align: center;
    font-size: 3.8rem; /* 1 rem =  10 px*/
    /*color: var(--primario);*/
   
}
.titulo span{
    font-size: 2rem;    
}

.contenedor{
    max-width: 120rem; /*Toma el maximo de 120 rems si no usa el 100% lo que hace es que se vaya moviendo el contenido conforme abrimos la pantalla*/
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}
/*Con display flex los elementos se muestran de izquierda a derecha*/
.navegacion-principal{
    display: flex;
    flex-direction: column;
    
    align-items: center; /*por si no funciona justify content esto e spor los jees de flexbox*/
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a{
    color: var(--gris);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
/*Esato es para que al pasar el mouse cambie de color*/
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);  
}

